<div class="details-container">
  <div *ngIf="!loading">
    <div class="card">
      <h3 class="card-header">{{ selectedRepo.name }}</h3>
      <div class="card-body">
        <p>{{ selectedRepo.description }}</p>
        <h5>Issues</h5>
        <div *ngFor="let issue of issues">
          <h5>{{ issue.title }}</h5>
          <p>Author: {{ issue.author.login }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading">
    <h3>Loading...</h3>
  </div>
  <div *ngIf="error">
    <h3>There was an error loading the repo</h3>
  </div>
  <button class="btn btn-primary" routerLink="/">Go Back</button>
</div>
